<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Program_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Program_Manager.Properties.Settings>
            <setting name="WatchList" serializeAs="String">
                <value />
            </setting>
            <setting name="Services" serializeAs="String">
                <value />
            </setting>
            <setting name="Programs" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_Log_On_Date_And_Time" serializeAs="String">
                <value />
            </setting>
        </Program_Manager.Properties.Settings>
    </userSettings>
</configuration>